@model IEnumerable<DockingAdminPanel.Models.Patient>

@{
    ViewData["Title"] = "Index";
}
 
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
 
<div class="card mt-5">

    <div class="card-header">
       

        <a class="btn btn-primary btn-block float-start" asp-action="Create"><i class='bx bx-add-to-queue bx-tada bx-flip-vertical '></i>Add Patients</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="myTable" class="display">
    <thead>
        <tr>
            <th>Status</th>
                        <th>
                            Token Number
                        </th>
            <th>
               Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
          
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        @*    <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecordNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNumber)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Illness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
                        <tr data-fullname="@item.FullName" data-fee="@item.Fee" data-token="@item.TokenNumber">
                            <td style=@(item.PaymentStatus==true?"background-color:green":"background-color:red")>
                @(item.PaymentStatus==true?"Paid":"UnPaid")
            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TokenNumber)
                            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
 
            
            <td>
                @Html.DisplayFor(modelItem => item.Illness)
            </td>
            
            <td>
                                <a onclick="printReceipt('@item')" class="btn btn-success" style="background-color:#fcbf49">Pay</a>
                <a asp-action="AddTestsAppointments" class="btn btn-outline-primary" asp-route-id="@item.Id">Add Tests</a> |
                                <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" class="btn btn-outline-warning" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>

                              
                            </td>
        </tr>
}
    </tbody>
</table>
</div></div></div>



<style>
    @@media print {
        /* Define print-specific styles here */
        #receiptContent {
            font-size: 18pt; /* Adjust font size for printing */
            margin: 30px; /* Add margins for better readability */
        }
    }
</style>

<script>
    //function printReceipt(element) {
    //    var tr = element.closest('tr'); // Find the parent tr element
    //    var fullname = tr.getAttribute('data-fullname');
    //    var fee = tr.getAttribute('data-fee');

    //    console.log(fullname);

    //    var printContent = `
    //        <div class="receipt">
    //            <h1>Receipt</h1>
    //            <hr />
    //            <p><strong>Name:</strong> ${fullname}</p>
    //            <p><strong>Fee:</strong> ${fee}</p>
    //            <!-- Add other dynamic content here -->
    //        </div>
    //    `;

    //    var originalContent = document.body.innerHTML;
    //    document.body.innerHTML = printContent;

    //    // Apply CSS styles to the receipt content
    //    var style = document.createElement('style');
    //    style.innerHTML = `
    //        .receipt {
    //            font-family: Arial, sans-serif;
    //            background-color: #f2f2f2;
    //            padding: 20px;
    //            border: 1px solid #ccc;
    //            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    //            margin: 20px;
    //        }
    //        h1 {
    //            font-size: 24px;
    //            text-align: center;
    //        }
    //        p {
    //            font-size: 16px;
    //        }
    //        hr {
    //            border: 1px solid #ccc;
    //        }
    //    `;
    //    document.head.appendChild(style);

    //    // Print the content
    //    window.print();

    //    // Restore the original content
    //    document.body.innerHTML = originalContent;
    //}
//    function printReceipt(element) {
//    var tr = element.closest('tr'); // Find the parent tr element
//    var fullname = tr.getAttribute('data-fullname');
//    var fee = tr.getAttribute('data-fee');

//    console.log(fullname);

//    var printContent = `
//        <div class="receipt">
//            <h1>Receipt</h1>
//            <hr />
//            <p><strong>Name:</strong> ${fullname}</p>
//            <p><strong>Fee:</strong> ${fee}</p>
//            <!-- Add other dynamic content here -->
//        </div>
//    `;

//    var originalContent = document.body.innerHTML;
//    document.body.innerHTML = printContent;

//    // Apply CSS styles to the receipt content
//    var style = document.createElement('style');
//    style.innerHTML = `
//        @@page {
//            size: auto;
//            margin: 0mm;
//        }
//        body {
//            margin: 0;
//            padding: 0;
//        }
//        .receipt {
//            font-family: Arial, sans-serif;
//            background-color: #f2f2f2;
//            padding: 20px;
//            border: 1px solid #ccc;
//            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
//            margin: 0 auto; /* Center horizontally */
//            max-width: 80%; /* Limit maximum width */
//        }
//        h1 {
//            font-size: 24px;
//            text-align: center;
//        }
//        p {
//            font-size: 16px;
//        }
//        hr {
//            border: 1px solid #ccc;
//        }
//    `;
//    document.head.appendChild(style);

//    // Print the content
//    window.print();

//    // Restore the original content
//    document.body.innerHTML = originalContent;
//}

 function printReceipt(element) {
    //var tr = element.closest('tr'); // Find the parent tr element
    //var fullname = tr.getAttribute('data-fullname');
    //var fee = tr.getAttribute('data-fee');
    //var token = tr.getAttribute('data-token');

   

    var printContent = `
                    <header>
                <h1>Invoice</h1>
                <address contenteditable>
                    <p>Jonathan Neal</p>
                    <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
                    <p>(800) 555-1234</p>
                </address>
              
            </header>
            <article>
                <h1>Recipient</h1>

                <table   class="inventory">
                    <tr>
                        <th><span contenteditable>Invoice #</span></th>
                        <td><span contenteditable>101138</span></td>
                    </tr>
                    <tr>
                        <th><span contenteditable>Date</span></th>
                        <td><span contenteditable>January 1, 2012</span></td>
                    </tr>
                    <tr>
                        <th><span contenteditable>Amount Due</span></th>
                        <td><span id="prefix" contenteditable>$</span><span>600.00</span></td>
                    </tr>
                </table>
                <table class="inventory">
                    <thead>
                        <tr>
                            <th><span contenteditable>Item</span></th>
                            <th><span contenteditable>Description</span></th>
                            <th><span contenteditable>Rate</span></th>
                            <th><span contenteditable>Quantity</span></th>
                            <th><span contenteditable>Price</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
                            <td><span contenteditable>Experience Review</span></td>
                            <td><span data-prefix>$</span><span contenteditable>150.00</span></td>
                            <td><span contenteditable>4</span></td>
                            <td><span data-prefix>$</span><span>600.00</span></td>
                        </tr>
                    </tbody>
                </table>
                <a class="add">+</a>
                <table class="balance">
                    <tr>
                        <th><span contenteditable>Total</span></th>
                        <td><span data-prefix>$</span><span>600.00</span></td>
                    </tr>
                    <tr>
                        <th><span contenteditable>Amount Paid</span></th>
                        <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
                    </tr>
                    <tr>
                        <th><span contenteditable>Balance Due</span></th>
                        <td><span data-prefix>$</span><span>600.00</span></td>
                    </tr>
                </table>
            </article>
            <aside>
                <h1><span contenteditable>Additional Notes</span></h1>
                <div contenteditable style="background-color:#000;color:#fff">
                    <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
                </div>
            </aside>
    `;

    var originalContent = document.body.innerHTML;
    document.body.innerHTML = printContent;

    // Apply CSS styles to the receipt content
    var style = document.createElement('style');
    style.innerHTML = ` /* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

/* content editable */

*[contenteditable] { border-radius: 0.5em; min-width: 0em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 0em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.1em; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 65%;font: bold ; table-layout: fixed; width: 120%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #000; color:#fff; border-color: #BBB; }
td { border-color: #DDD;background: #111;font: bold; color:#fff; }

/* page */

html { font: 15px/1 'Roboto',font: bold, Roboto; overflow: auto; padding: 0.2mm; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: ; margin: 0 auto; overflow: hidden;  width: 80mm; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */

header { margin: 0 0 1em; }
header:after { clear: both; content: ""; display: table; }

header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 0 0 0em; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: bold; line-height: 0.95; margin: 0.2em 0.1em 0.1em 0.1em;font: bold }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 0em 0em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 0em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 125%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */

aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }

/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;	
	float: left;
	text-align: center;
	width: 0.6em;
}

.add, .cut
{
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@@page { margin: 0; }
    `;
    document.head.appendChild(style);

    // Print the content
        window.print({ silent: true, onload: function () { window.location.reload(); } });

    // Restore the original content
    document.body.innerHTML = originalContent;
}

   


</script>
<script>
    let table = new DataTable('#myTable', {
        responsive: true
    });
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
