@model IEnumerable<DockingAdminPanel.Models.Patient>

@{
    ViewData["Title"] = "Index";
    var patid = 0;
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

<div class="card mt-5">

 


    <div class="card-header">


        <a class="btn btn-primary btn-block float-start" asp-action="CreateLab"><i class='bx bx-add-to-queue bx-tada bx-flip-vertical '></i>Add Patients</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th style ="display: none"></th>
                        <th>Mrno#</th>
                        <th>Status</th>
                        <th>
                            Token Number
                        </th>
                        <th>Type</th>
                        <th>
                            Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
            
                        <th>
                            @Html.DisplayNameFor(model => model.Illness)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    { 
                    
                        <tr data-fullname="@item.FullName" data-patientid="@item.Id" data-mrno="@item.MedicalRecordNumber" data-age="@item.Age" data-sex="@item.Sex" data-fee="@item.Fee" data-token="@item.TokenNumber" data-test="@item.patientTest">
                            <td class="test-data" style="display: none">@Json.Serialize(item.patientTest)</td>
                            <td>@item.MedicalRecordNumber</td>
                            <td style=@(item.PaymentStatus==true?"background-color:green":"background-color:red")>
                                @(item.PaymentStatus == true ? "Paid" : "UnPaid")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TokenNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabAppointment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Illness)
                            </td>

                            <td>
                                <a onclick="printReceipt(this,'@item.Id' )" class="btn btn-success" style="background-color:#fcbf49">Pay</a>
                                <a asp-action="AddTestsAppointments" class="btn btn-outline-primary" asp-route-id="@item.Id">Add Tests</a> |
                                <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" class="btn btn-outline-warning" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





<script>


    function printReceipt(item) {
        var tr = item.closest('tr');
        var doctorName = tr.getAttribute('data-doctor');
        var doctorFee = tr.getAttribute('data-fee');
        console.log(doctorName)
        //var tr = element.closest('tr'); // Find the parent tr element
        var fullname = tr.getAttribute('data-fullname');
        var fee = tr.getAttribute('data-fee');
        var token = tr.getAttribute('data-token');
        var age = tr.getAttribute('data-age');
        var sex = tr.getAttribute('data-sex');
        var doctor = tr.getAttribute('data-doctor');
        var mrno = tr.getAttribute('data-mrno');
        
        var testsJson = tr.querySelector('.test-data').textContent;
        var tests = JSON.parse(testsJson);
        console.log(tests)
        // Generate HTML for tests
        var testsHtml = '';
        tests.forEach(test => {
            testsHtml += `<tr><td>${test.TestName}</td><td>${test.Price}</td></tr>`;
        });
        var printContent = `
                        <style type="text/css">
                #invoice-POS {
                    font-family: Helvetica, Arial, sans-serif;
                    padding: 0;
                    margin: 0 auto;
                    width: 88mm;
                    background: #FFF;
                }

                h1, h2, h3, p {
                    margin: 0;
                    padding: 0;
                }

                #top, #mid, #bot {
                    border-bottom: 1px solid #EEE;
                }

                #top {
                    min-height: 20px;
                }

                #mid {
                    min-height: 80px;
                }

                #bot {
                    min-height: 50px;
                }

                .info {
                    display: block;
                    margin-left: 0;
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                }

                td {
                    padding: 5px;
                    border: 2px solid #000;
                    background: #FFF;
                    color: #000; /* Change text color to black */
                }

                .tabletitle {
                    font-size: .5em;
                    background: #EEE;
                }

                .service {
                    border-bottom: 1px solid #EEE;
                }

                .item {
                    width: 24mm;
                }

                .itemtext {
                    font-size: .5em;
                }

                #legalcopy {
                    margin-top: 5mm;
                }

                .container {
                    margin: 0;
                }

                .row {
                    margin: 0;
                }

                .col-xl-3 {
                    margin-top: 10px;
                    display: flex;
                    justify-content: end;
                }

                /* Change text color for thead */
                .information-table thead {

                    font-size: 18px;
                }
            </style>

            <!-- Header -->
            <div id="invoice-POS">
                <center id="top">
                    <div class="logo"></div>
                    <div class="info">
                        <h1>A+ Clinics</h1>
                    </div>
                </center>
                <!-- End InvoiceTop -->

                <div id="mid">
                    <div class="info text-center text-dark">
                        <p>
                               Royal Tower,Near Allied CNG,<br>Tangi Road,Rajjar Charsadda<br>

                            Phone   : 0314-1504216<br>
                                <strong class="float-right">@DateTime.Now</strong>
                        </p>
                    </div>
                    <table class="information-table">
                        <thead>
                            <tr>
                                    <th scope="col">Mrno#${mrno}</th>
                                     <th scope="col">Age</th>
                                          <th scope="col">sex</th>
                                               <th scope="col">Token</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                          ${fullname.toUpperCase()}


                                </td>
                                    <td>${age}

                                                        <td>
                                                    ${sex}</td>
                                    <td>     ${token}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End Invoice Mid -->

                <div id="bot">
                    <div class="">
                        <div class="">
                            <table class="information-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                       ${tests.map(test => `
                        <tr>
                                <td>${test.testName}</td>
                                <td>${test.price}</td>
                        </tr>
                    `).join('')}
                                     
                                </tbody>
                            </table>
                        </div>
                        <div class="">
                            <div class="">
                                        <table>
                                        <tbody>
                                            <tr style="display: flex; justify-content: end;">
                                                <td>
                                                    SubTotal: <br>
                                                    Tax(15%): <br>
                                                    Total Amount:${fee}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End InvoiceBot -->
            </div>

                `;

        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;

        // Apply CSS styles to the receipt content
        var style = document.createElement('style');

        document.head.appendChild(style);

        // Print the content
        window.print();

        // Restore the original content
        document.body.innerHTML = originalContent;
    }


    function findClosestTableRow(item) {
        // Find the closest <tr> element by navigating up the DOM hierarchy from the button
        var button = document.querySelector(`[onclick="printReceipt('${item}')"]`);
        if (!button) {
            console.error("Could not find the button associated with the item.");
            return null;
        }

        var tr = button.closest('tr');
        if (!tr) {
            console.error("Could not find the closest table row.");
            return null;
        }

        return tr;
    }


</script>
<script>
    let table = new DataTable('#myTable', {
        responsive: true
    });
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
