@model DockingAdminPanel.Models.TestAppointmentsViewModel

@{
	ViewData["Title"] = "Add Patient Tests";
	double total = 0;
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>




<h1>Add Patient Tests</h1>

<h4>Add Patient Tests</h4>
@if (Model.patient != null)
{
	<h5>Name:@Model.patient.FullName</h5>
	if (Model.patient.DoctorId==0)
	{
		<h5>Referred By:External</h5>
	}
	else
	{   
		 foreach (var item in Model.patient.Doctors)
		{
			if (item.Id==Model.patient.DoctorId)
			{
				<h5>Referred By:Dr.@item.FullName</h5>
			}
		}
		
	}


}


<div class="card mt-5">

	<div class="card-header">
		<h5>All Test Of  @Model?.patient?.FullName</h5>


		@*  <a class="btn btn-primary btn-block float-end" asp-action="Create"><i class='bx bx-add-to-queue bx-tada bx-flip-vertical '></i>Add Patients</a>*@
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="myTable" class="display">
				<thead>
					<tr>
						<th>Test Name</th>
						
						<th>Specimen</th>
						<th>Collection Time</th>
						<th>Result</th>
						<th>Normal Value</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					@if (Model.patientsTests != null && Model.patientsTests.Count() > 0)
					{
						@foreach (var item in Model.patientsTests)
						{
							<tr>
								<td>@item.TestName</td>
								<td>@item.SampleName</td>
								<td>@item.CollectionTime</td>
								<td>@item.TestResult</td>
								<td>@(item.NormalValue)</td>
							<td>
									<button class="btn btn-primary" onclick="printReceipt()"><i class="fa-solid fa-print"></i> Print Table</button>
									<a asp-action="AddSampleCollection" class="btn btn-primary" asp-route-id="@item.Id"><i class="fa-solid fa-circle-plus"></i> Collect Sample</a> |
									<a asp-action="AddTestResult" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa-solid fa-upload"></i> Upload Result</a> |
								 
 
							</td>
							</tr>

						}
					}
				</tbody>
			</table>
		</div>
	</div>

</div>
<script>
	let table = new DataTable('#myTable', {
		responsive: true,
		"select": "multi"
	});
	$(document).ready(function () {
		$('#myTable').DataTable();
	});
	var totalamount = 0;
	function callcheckboxalert(price) {
		totalamount = totalamount + price;

		document.getElementById("tot").value = totalamount;

	}
	function printReceipt() {
		var printContent = `
			<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Your Title</title>
		<style>
	@@media print {
				body, html {
					height: 100%;
					margin: 0;
					padding: 0;
					size: A4 portrait; /* or landscape */
				}

				.container {
					width: 100%;
					max-width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
				}

				/* Add other print styles as needed */
			}
		</style>
	</head>
	 <div class="container">
		<div class="card">
			<div class="card-header">
				A+ Clinics
				<strong class="float-right">@DateTime.Now</strong>


			</div>
			<div class="card-body">
				<div class="row mb-4">
					<div class="col-sm-6">

						<div>
							<strong>A+ Clinics</strong>
						</div>
						<div>Rajjar</div>
						<div>Charsadda, Kpk</div>
						<div>Email: info@webz.com.pl</div>
						<div>Phone: +48 444 666 3333</div>
					</div>

					<div class="col-sm-6">
						
						<div>
							<strong>MrNo:@Model.patient.Id</strong>
						</div>
						<h6 class="mb-3">Name:@Model.patient.FullName</h6>
						
						<div>Age/Gender: @Model.patient.Sex</div>
						<div>Specimen No:
	@foreach (var item in Model.patientsTests)
	{
		@item.Id
	},
							</div>

							<div>
	@if (Model.patient.DoctorId == 0)
	{
								<h6>Ordered By:External</h6>
	}
	else
	{
		foreach (var item in Model.patient.Doctors)
		{
			if (item.Id == Model.patient.DoctorId)
			{
													<h6>Ordered By:Dr.@item.FullName</h6>
			}
		}

	}
						</div>
						<div>Ordered On: @Model.patient.AddedDate</div>
						<div>Phone:  @Model.patient.PhoneNumber</div>
						<div>Results:  </div>
					</div>



				</div>


					<div class="card mt-5">
						<div class="category">
	@*<strong>Cbc</strong>*@
						</div>
						<div class="table-responsive-sm">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="center">#</th>
										<th>Test</th>
										<th>Results</th>

										<th class="right">History</th>
										<th class="center">Range</th>

									</tr>
								</thead>
								<tbody>
	@foreach (var item in Model.patientsTests)
	{
											<tr>
												<td class="center">@item.Id</td>
												<td class="left strong">@item.TestName</td>
												<td class="left">
				@item.TestResult @foreach (var labitem in Model.labItems)
				{
					if (item.TestId == labitem.Id)
					{
						@labitem.Units
					}
				}
												</td>

												<td class="right"></td>
												<td class="center">@item.NormalValue</td>

											</tr>
	}


								</tbody>
							</table>
						</div>
					</div>


				<footer class="row" style="margin-top: 400px;">
					<div class="col-lg-4 col-sm-4">
					</div>

					<div class="col-lg-4 col-sm-8 ml-auto">
						<table class="table table-clear text-left">
							<tbody>



								<tr>
									<td>
										<strong>Charge Technician:@User.Identity.Name</strong>
									</td>

								</tr>
							</tbody>
						</table>

					</div>

				</footer>

			</div>
				<h2 class="text-center"> This is the end of print preview.</h2>
		</div>
		<div class="footer-end" style="margin-top: 150px; text-align:center;">
		This print is generated by computer and doesn't need signature
	
	</div>	
	</div>

	
	
				`;

		var originalContent = document.body.innerHTML;
		document.body.innerHTML = printContent;

		// Apply CSS styles to the receipt content
		//var style = document.createElement('style');

		//document.head.appendChild(style);

		// Initialize DataTable for test details
		let testTable = new DataTable('#test-table', {
			responsive: true
		});

		// Print the content
		window.print();

		// Restore the original content
		document.body.innerHTML = originalContent;
	}
</script>
<style>
	@@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

	body {
		padding: 100px 0;
		background: #ecf0f4;
		width: 100%;
		height: 80%;
		font-size: 18px;
		line-height: 1.5;
		font-family: 'Roboto', sans-serif;
		color: #222;
	}

	.container {
		max-width: 80%;
		width: 100%;
	}

	h1 {
		font-weight: 700;
		font-size: 45px;
		font-family: 'Roboto', sans-serif;
	}

	.header {
		margin-bottom: 80px;
	}

	#description {
		font-size: 24px;
	}

	.form-wrap {
		background: rgba(255,255,255,1);
		width: 100%;
		max-width: 850px;
		padding: 50px;
		margin: 0 auto;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	}

		.form-wrap:before {
			content: "";
			width: 90%;
			height: calc(100% + 60px);
			left: 0;
			right: 0;
			margin: 0 auto;
			position: absolute;
			top: -30px;
			background: #0e1c36;
			z-index: -1;
			opacity: 0.8;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
		}

	.form-group {
		margin-bottom: 25px;
	}

		.form-group > label {
			display: block;
			font-size: 18px;
			color: #000;
		}

	.custom-control-label {
		color: #000;
		font-size: 16px;
	}

	.form-control {
		height: 50px;
		background: #ecf0f4;
		border-color: transparent;
		padding: 0 15px;
		font-size: 16px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

		.form-control:focus {
			border-color: #0e1c36;
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

	textarea.form-control {
		height: 160px;
		padding-top: 15px;
		resize: none;
	}

	.btn {
		padding: .657rem .75rem;
		font-size: 18px;
		letter-spacing: 0.050em;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}



	.btn-primary:focus, .btn-primary.focus {
		color: #00bcd9;
		background-color: #ffffff;
		border-color: #00bcd9;
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	}

	.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
	.show > .btn-primary.dropdown-toggle {
		color: #00bcd9;
		background-color: #ffffff;
		border-color: #00bcd9;
	}

		.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
		.show > .btn-primary.dropdown-toggle:focus {
			-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
			box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
		}

</style>