@model DockingAdminPanel.Data.Products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rentPerMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rentPerMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.spaceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.spaceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adminApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adminApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contractDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contractDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.available)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
