@model IEnumerable<DockingAdminPanel.Data.Products>

@{
    ViewData["Title"] = "Dockings";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>



<div class="row col-md-2 col-2 col-lg-2 col-xl-2 col-sm-12">
</div>
<div class="card mt-5">
   
    <div class="card-header">
        Add Docking Rent/Lease

        <a class="btn btn-primary btn-block float-end" asp-action="Create"><i class='bx bx-add-to-queue bx-tada bx-flip-vertical '></i>Add Docking</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">All Dockings</h5>
        <table id="myTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rentPerMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.spaceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adminApproval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.addedDate)
            </th>
            <th>
                 Category
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rentPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spaceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adminApproval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contractDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addedDate)
            </td>
            <td>
                
                    @(item.Category)
            </td>
            <td>
                
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class='bx bxs-edit bx-tada bx-flip-vertical'></i></a> |
                                <a asp-action="Details" asp-route-id="@item.Id"><i class='bx bxs-comment-detail bx-tada bx-flip-vertical'></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class='bx bxs-message-x bx-tada bx-rotate-90'></i></a>
 

            </td>
        </tr>
}
    </tbody>
</table>
 </div>
 </div>
<script>
    let table = new DataTable('#myTable', {
        responsive: true
    });
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>